@layer base {
  /* ================= HEADINGS ================= */

  h1 {
    font-size: clamp(32px, 5vw, 60px);
    line-height: clamp(40px, 6vw, 70px);
    font-weight: 700;
    color: var(--color-text-title);
  }

  h2 {
    font-size: clamp(28px, 4vw, 48px);
    line-height: clamp(36px, 5vw, 56px);
    font-weight: 700;
    color: var(--color-text-title);
  }

  h3 {
    font-size: clamp(20px, 3vw, 12px);
    line-height: clamp(30px, 4vw, 44px);
    font-weight: 600;
    color: var(--color-text-title);
  }

  h4 {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.4;
    font-weight: 600;
    color: var(--color-text-title);
  }

  /* ================= BODY ================= */

  p {
    font-size: clamp(15px, 1.5vw, 16px);
    line-height: 1.6;
    color: var(--color-text-body);
    max-width: 600px;

  }

  /* ================= Text ================= */

  .text-primary {
    color: var(--color-primary-1);
  }

  .text-primary-1 {
    color: var(--color-primary-1);
  }

  .text-neutral-500 {
    color: var(--color-neutral-500);
  }

  .text-neutral-800 {
    color: var(--color-neutral-800);
  }
}